<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Stemrijmer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    {#  <link rel="manifest" href="site.webmanifest">#}
    {#  <link rel="apple-touch-icon" href="icon.png">#}
    <!-- Place favicon.ico in the root directory -->


    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/main.css">

    <meta name="theme-color" content="#fafafa">
</head>

<body>

<h1>Stemrijmer</h1>
<div>
    <div>
        <h2>Vul een woord in en wij zoeken een woord dat rijmt:</h2>
        <form hx-post="/rhyme" hx-target="#type-result" hx-indicator="#spinner" style="display: flex">
            <input type="text" name="query">
            <button type="submit">Zoek</button>
            <img id="spinner" class="htmx-indicator" src="static/img/spinner.svg"/>
        </form>
        <div id="type-result"></div>
    </div>

    <hr/>

    <div>
        <h2>Spreek een woord in:</h2>
        <div x-data>
            <button onclick="startRecognition()"><strong>MICROPHONE</strong></button>
            <div id="speech-output">
            </div>
        </div>
    </div>

    <hr/>

    <div>
        <h2>Woord van de dag:</h2>
        <h3 id="wotd" hx-get="/random_word" hx-trigger="load" hx-swap="innerHTML"></h3>
        <button id="wotd-button">Wat rijmt op het Woord van de dag?</button>
        <div id="wotd-result"></div>
    </div>
</div>

<script src="static/js/main.js" defer></script>
<script src="//unpkg.com/htmx.org" defer></script>

</body>
</html>
