<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Stemrijmer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    {#  <link rel="manifest" href="site.webmanifest">#}
    {#  <link rel="apple-touch-icon" href="icon.png">#}
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/main.css">

    <meta name="theme-color" content="#fafafa">
</head>

<body>

<div class="hero mt-8">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-xl">Stemrijmer</h1>
        </div>
    </div>
</div>
<div class="p-8">
    <div>
        <h2>Vul een woord in en wij zoeken een woord dat rijmt:</h2>
        <form class="input-group" hx-post="/rhyme" hx-target="#type-result" hx-indicator="#spinner" style="display: flex">
            <input class="input input-bordered  max-w-xs" type="text" name="query">
            <button class="btn" type="submit">Zoek</button>
            <img id="spinner" class="htmx-indicator" src="static/img/spinner.svg"/>
        </form>
        <ul id="type-result"></ul>
    </div>

    <div class="divider"></div>

    <div>
        <h2>Spreek een woord in:</h2>
        <div x-data>
            <button class="btn" onclick="startRecognition()"><strong>MICROPHONE</strong></button>
            <ul id="speech-output">
            </ul>
        </div>
    </div>

    <div class="divider"></div>

    <div class="mt-8 mb-8">
        <h2>Woord van de dag:</h2>
        <h3 id="wotd" hx-get="/random_word" hx-trigger="load" hx-swap="innerHTML"></h3>
        <button id="wotd-button" class="btn">Wat rijmt op het Woord van de dag?</button>
        <ul id="wotd-result"></ul>
    </div>
</div>


<script src="static/js/main.js" defer></script>
<script src="//unpkg.com/alpinejs" defer></script>
<script src="//unpkg.com/htmx.org" defer></script>

</body>

</html>
